#train-table th,
td {
  display: inline-block;
  width: 16%;
  align-content: center;
}

h1 {
  font-size: 30px;
  background-color: black;
  color: white;
  margin: 0;
}

h3 {
  font-size: 16px;
  background-color: black;
  color: white;
  margin: 0;
  padding-bottom: 5px;
}

h2 {
  font-size: 20px;
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.table th {
  font-weight: bold;
  border: 0px;
}

#add-train-btn {
  background-color: black;
  color: white;
  margin-right: 25px;
}

#error-text {
  color: red;
  font-size: 16px;
  font-weight: bold;
}

.delete {
  margin-left: 25px;
  border: 0;
}
#current-time{
  font-size: 25px;
  color: greenyellow
}